test-data: enabled
snapshot_calculation:
  minimal_feedback_count: 5
  scheduling_cron: 0/10 * * * * ?

spring:
  jpa:
    hibernate:
      ddl-auto: create-drop
  datasource:
    url: jdbc:h2:mem:feedbackDb
    username: sa
    password: ''
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true # http://localhost:8080/h2-console
